.defaultButtonCLass {
    width: 140px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    background-color: beige;
}

.defaultButtonCLass:hover {
    background-color: aqua;
    font-size: 14px;
}

.defaultButtonCLass:active {
    color: beige;
    font-size: 12px;
}

.notVisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
.headerLabel{
    background-color: transparent;
    font-size: 24px;
    -unity-text-align: upper-center;
    color: bisque;

}